<script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" async></script>
<!-- TITLE -->
<div class="h-100 p-5 mb-3 bg-light border rounded-2">
    <h2 class="text-center"><%= currentMonthAndYear %> Oylaması</h2>
    <p class="text-center">
        Aşağıdaki anılardan oylamak istediğiniz anının altındaki "Oyla" butonuna bastığınızda sisteme oyunuz otoamtik ileticektir. 
        Unutmayınız ki, yalnızca bir oy hakkınız vardır. Çok beğendiğiniz ve defalarca oy vermek istediğiniz bir anı ile karşılaşırsanız
        farklı internet ağları üzerinden tekrar tekrar oylayabileceğinizi hatırlatmak isteriz. Ne de olsa size güveniyoruz :)
    </p>
    
    <% if (error) { %>
        <div class="alert alert-danger" role="alert">
            <%- error.message -%>
        </div>
    <% } %>
</div>

<% if (is_voted_before) { %>
<div class="alert alert-danger text-center" role="alert">
    Çoktan oylamaya katıldığın için tekrar katılman mümkün değildir.
</div>
<% } %>

<!-- ENTRIES -->
<div class="row" data-masonry='{"percentPosition": true }'>
    <% if (entries.length) { %> <% entries.forEach(entry => { %>
        <div class="col-12 col-lg-6">
            <div class="card shadow-sm rounded mb-4" tabindex="0">
                <div class="card-header">
                    <div class="row">
                        <div class="col-6 col-lg-8">
                            <b><%=entry.nickname%></b>    
                        </div>
                        <div class="col-6 col-lg-4">
                            <p class="text-end"><%= entry.date %></p>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <blockquote class="mb-0">
                        <p><%= entry.text %></p>
                    </blockquote>
                </div>
                <div class="card-footer">
                    <form method="POST">
                        <input type="hidden" name="entryId" class="form-control" value="<%=entry.entryId%>"/>
                        <div class="d-grid gap-2">
                            <% if (!is_voted_before) { %>
                                <button class="btn btn-outline-dark btn-sm" type="submit">#<%=entry.entryId%>'i Oyla</button>
                            <% } else { %>
                                <button class="btn btn-outline-dark btn-sm" type="submit" disabled>#<%=entry.entryId%>'i Oyla</button>
                            <% } %>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    <% }) %> <% } else { %>
            
            <div class="text-center">
                <% if (error) { %>
                    <h4>Hay aksi! Babişko Asuman bizi sabote ediyor.</h4>
                    <a href="/torpil-arsivi">Sayfayı yenile!</a></h4>
                <% } else { %>
                    <div class="p-3">
                        <h4>Mükemmel! Hiç torpil bulunamadı.</h4>
                    </div>
                <% } %>
            </div>
        
    <% } %>
</div>

<script>
    async function PostVote(SelectedVoteID) {
        // Create the POST details.
        const fetchInit = {
            method: "POST",
            body: new FormData().append("entryId", SelectedVoteID)
        };
        
        // Send the request.
        fetch("/ayin-oylamasi", fetchInit);
    }
</script>